<form action="/libros/crear" method="POST">
  <label for="title">
    Titulo
    <input name="title" id="title" type="text">
  </label>
  </br>

  <label for="">
    Descripción <input name="description" type="text">
  </label>
  </br>

  <label for="">
    Autor <input name="author" type="text">
  </label>
  </br>

  <label for="">
    Valoración<input name="rating" type="number">
  </label>

  <button type="submit">Crear libro</button>
</form>
